@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic|Ubuntu:700i&display=swap');
body { 
	font-family: Nanum Gothic;
	color: #333;
}
h2{
	font-family: Nanum Gothic;
	font-weight: bold;
	font-size: 22px;
	color: #333;
}
div#myPageDiv {
	margin: 0 auto;
	width: 1004px;
	height: 100%;
	text-align: center;
	background: rgb(244, 244, 244);
	padding-top: 50px;
}

div#myPageDiv table#myPageTable{
	margin: 0 auto;
	border: 1px solid;
	width: 800px;
	height: 550px;
	background: rgb(255, 255, 255);
	border-collapse: collapse;
	font-weight: bold;
	text-align: left;
}
div#myPageDiv table#myPageTable td{
	border: 20px solid rgb(244, 244, 244);
	padding-left: 30px;
	padding-right: 30px;
}
div#myPageDiv table#myPageTable td.memberMyPageIndex{
	width: 35%;
	cursor: pointer;
}

div#myPageDiv table#myPageTable td#memberInfoTd{
	height: 40%;
}
div#myPageDiv table#myPageTable td#myPageContentTd{
	padding-top: 50px;
	padding-left: 40px;
}
div#myPageDiv table#myPageTable img#smileImgBox{
	width: 80px;
}

div#myPageDiv table#myPageTable td span#myPageGrade{
	color: rgb(192, 57, 43);
}
div#myPageDiv table#myPageTable td span#impactSpan{
	color: rgb(192, 57, 43);
}
div#myPageDiv table#myPageTable td div#passwordCheckScript{
	font-size: 20px;
	text-align: center;
}
div#myPageDiv table#myPageTable img.imgBox{
	width: 70px;
}
div#myPageDiv table#myPageTable td span.mypageGuideInfoSpan{
	font-size: 13px;
	color: #808080;
}
div#myPageDiv table#myPageTable td label{
	display: inline-block;
	width: 100px;
}
div#myPageDiv table#myPageTable td input:focus{
	outline: none;
}
div#myPageDiv table#myPageTable td input[name=memberId],
div#myPageDiv table#myPageTable td input[name=memberName],
div#myPageDiv table#myPageTable td input[name=gender],
div#myPageDiv table#myPageTable td input[name=birthDate]{
	/* readonly부분 */
	font-size: 15px;
    color: rgb(94, 94, 94);
    padding: 6px 12px;
    border: none;
    font-weight: bold;
    font-family: "Montserrat";
}
div#myPageDiv table#myPageTable td input[name=memberName]{
	font-family: Nanum Gothic;
}
div#myPageDiv table#myPageTable td input[name=password],
div#myPageDiv table#myPageTable td input[name=passwordCheck],
div#myPageDiv table#myPageTable td input[name=phone],
div#myPageDiv table#myPageTable td input[name=email]{
	color: rgb(94, 94, 94);
	padding: 6px 12px;
    width: 300px;
    height: 35px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
    font-family: "Montserrat", Nanum Gothic;
}
div#myPageDiv table#myPageTable td form#memberPasswordUpdateForm input[name=password],
div#myPageDiv table#myPageTable td form#memberPasswordUpdateForm input[name=passwordCheck]{
	width: 350px;
}

div#myPageDiv table#myPageTable td div#myPageBtnDiv{
	text-align: center;
	margin-bottom: 30px;
}
div#myPageDiv table#myPageTable td div#myPageBtnDiv input{
	cursor: pointer;
}
div#myPageDiv table#myPageTable td input.myPageBtn{
	font-size: 19px;
    color: rgb(41, 128, 185);
    text-align: center;
    line-height: 2em;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(41, 128, 185);
    
    font-family: Nanum Gothic;
    font-weight: bold;
    
    
    width: 150px;
}
div#myPageDiv table#myPageTable td input#passwordCheckSubmitBtn{
	background-color: rgb(41, 128, 185);
	border-color: rgb(41, 128, 185);
	color: rgb(255, 255, 255);
}



/*SNS 연동*/
button.Login-start-btn{
	width: 400px;
	height: 55px;
	border-radius: 30px;
	background: rgba(0,0,0,0);
	margin: 7px 0;
	font-weight: bold;
	color: rgb(64, 64, 64);
	font-size: 17px;
}
button.Login-start-btn:hover{
	cursor: pointer;
}
button#Login-facebook-btn{
	border: 1.3px solid #3b5999;
}
button#Login-kakao-btn{
	border: 1.3px solid rgb(241, 196, 15);
}
button#Login-google-btn{
	border: 1.3px solid rgb(231, 76, 60);
}

/*SNS 연동 완료된 버튼*/
button.Complete{
	color: white;
	border: none;
}
button.Complete:hover{
	cursor: auto;
}
button.Complete:focus{
	outline: none;
}
button#SNS-Google-Complete{
	background: rgb(231, 76, 60);
}
button#SNS-Facebook-Complete{
	background: #3b5999;
}
button#SNS-Kakao-Complete{
	background: rgb(241, 196, 15);
}

/*구글 로그인*/
/*구글로 로그인하기*/
div.g-signin2{
	width: 400px;
	height: 55px;
	border-radius: 30px;
	background: rgba(0,0,0,0);
	margin: 7px 0 !important;
	font-weight: bold;
	color: rgb(64, 64, 64);
	font-size: 17px;
}
div.g-signin2 div.abcRioButton{
	width: 400px !important;
	height: 55px !important;
	border-radius: 30px;
	background: rgba(0,0,0,0);
	font-weight: bold;
	margin: 7px auto;
	color: rgb(64, 64, 64);
	font-size: 17px;
	border: 1.3px solid rgb(231, 76, 60);
	box-shadow: none;
	z-index: 100;
}
div.g-signin2 div.abcRioButton div.abcRioButtonIcon{
	display: none;
}
td span.abcRioButtonContents{
	color: rgb(64, 64, 64) !important;
	font-size: 17px !important;
	font-weight: bold !important;
	font-family: "Nanum Gothic" !important;
	line-height: 3 !important;
	
	display: none;
}
div#googleLoginMemberInfo{
	display: none;
}

span#googleLoginSpan{
	z-index: 50;	
	position: absolute;
    top: 703px;
    left: 576px;
	color: rgb(64, 64, 64) !important;
	font-size: 17px !important;
	font-weight: bold !important;
	font-family: "Nanum Gothic" !important;
	line-height: 3 !important;
}
